.div1{
  height: 300px;
  width: 300px;
}
.a1{
  font-size: 20px;
}
.p1{
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
}
.p2{
  color: rgb(37, 196, 28);
  font-weight: bold;
  font-size: 20px;
}
.p3{
  font-size: 20px;
  font-weight: bold;
}
.cart{
  height: 40px;
  width: 140px;
  background-color: rgb(195, 198, 13);
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  font-weight: bold;

}
.buy{
  height: 40px;
  width: 140px;
  background-color: orange;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}